/* Variables */
:root{
    /* Colores */
    --red-color: #CB2424;
    --fondo-color: #EEE7E7;
    /* Altura*/
    --altura: 326px;
    /* Box shadow */
    --box: 0 0 15px black;
    /* Espacio */
    --space: 20px;
}
/* Variables */
html, body{
    margin: 0;
    padding: 0;
    font-family: 'Black Han Sans', sans-serif;
    background: var(--fondo-color);
}
.header{
    height: 91px;
    background-color: var(--red-color);
    display: flex;
    justify-content: space-between;
}
.brand{
    display: flex;
    align-items: center;
    font-size: 36px;
    padding: var(--space);
}
.logo{
    padding: 0;
    margin: 0;
    height: 58px;
}
.productos{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.libro{
    display: flex;
    width: 580px;
    height: 330px;
    box-shadow: var(--box);
    padding: var(--space);
    margin: var(--space);
    background-color: #565e5e2e;
}
.libro_image, .libro_imageContainer{
    height: var(--altura);
}
.libro_button{
    font-family: 'Bai Jamjuree', sans-serif;
    font-size: 20px;
    cursor: pointer;
    height: 55px;
    width: 80%;
    border-radius: 38px;
    background-color: rgba(203, 36, 36, 1);
}
.libro_button:hover{
    background-color: rgba(203, 36, 36, 0.88);
}
.footer{
    background-color: var(--red-color);
    height: 111px;
}
ol, ul{
    display: flex;
    align-items: center;
    list-style: none;
}
a{
    margin: 0 var(--space);
    color: black;
    text-decoration: none;
    font-size: 36px;
}
a:hover{
    color: white;
}
h1, h2, h3, h4, h5, h6, h7{
    font-family: 'Bai Jamjuree', sans-serif;
}
p{
    font-family: 'Bai Jamjuree', sans-serif;
}