/* Variables */
:root{
    /* Colores */
    --red-color: #CB2424;
    --fondo-color: #EEE7E7;
    /* Altura*/
    --altura: 326px;
    /* Box shadow */
    --box: 0 0 15px black;
    /* Espacio */
    --space: 20px;
    /* Tamanos de fuente */
    --normal: 20px;
    --big: 36px;
}
/* Variables */
html, body{
    margin: 0;
    padding: 0;
    font-family: 'Black Han Sans', sans-serif;
    background: var(--fondo-color);
}
.header{
    height: 91px;
    background-color: var(--red-color);
    display: flex;
    justify-content: space-between;
}
.brand{
    display: flex;
    align-items: center;
    font-size: var(--big);
    padding: var(--space);
}
.logo{
    padding: 0;
    margin: 0;
    height: 58px;
}
.productos{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-image: url(../images/curve.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: bottom;
}
.libro{
    display: flex;
    width: 580px;
    height: 330px;
    box-shadow: var(--box);
    padding: var(--space);
    margin: var(--space);
    background-color: #565e5e2e;
}
.libro_image, .libro_imageContainer{
    height: var(--altura);
}
.libro_button{
    font-family: 'Bai Jamjuree', sans-serif;
    font-size: var(--normal);
    cursor: pointer;
    height: 55px;
    width: 80%;
    border-radius: 38px;
    background-color: rgba(203, 36, 36, 1);
}
.libro_button:hover{
    background-color: rgba(203, 36, 36, 0.88);
}
.features_title{
    text-align: center;
    font-size: var(--big);
    font-family: 'Black Han Sans';
}
.features{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.features_curiosities{
    width: 350px;
    height: 400px;
    border: 3px dashed black;
    box-shadow: var(--box);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: var(--space);
    margin: var(--space);
    margin-bottom: 40px;
}
.curiosities_imageContainer{
    width: 100px;
    height: 100px;
}
.curiosities_image{
    width: inherit;
    height: inherit;
}
.footer{
    background-color: var(--red-color);
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: var(--normal);
}
.socialLinks{
    display: flex;
    flex-direction: row;
  }
  .socialmedia{
    margin: 0 15px;
    width: 50px;
    height: 50px;
    background-size: 50px;
  }
  .socialmedia.facebook{
    background-image: url('../images/facebook.svg');
  }
  .socialmedia.instagram{
    background-image: url('../images/instagram.svg');
  }
  .socialmedia.twiter{
    background-image: url('../images/twitter.svg');
  }
ol, ul{
    display: flex;
    align-items: center;
    list-style: none;
}
a{
    margin: 0 var(--space);
    color: black;
    text-decoration: none;
    font-size: var(--big);
}
a:hover{
    color: white;
}
h1, h2, h3, h4, h5, h6, h7{
    font-family: 'Bai Jamjuree', sans-serif;
}
p{
    font-family: 'Bai Jamjuree', sans-serif;
}