@media (max-width: 600px) {
    .brand{
        font-size: 50%;
        margin: 0;
        padding: 0;
    }
    .logo{
        display: flex;
        align-items: center;
    }
    .logo img{
        height: 65%;
    }
    .Menu li a{
        font-size: 80%;
    }
    .libro{
        display: block;
        height: auto;
    }
    .libro_button{
        width: auto;
    }
}